.container {
margin-top: 5px;
}

.card {
margin: center;
text-align: center;
}

.card-img-top {
width: 150px;
height: 150px;
object-fit: contain;
}

.modal-content {
text-align: center;
}

.modal-header {
display: flex;
justify-content: center;
}

.modal-footer {
display: flex;
justify-content: center;
}